In [1]:
import pandas as pd
import numpy as np

In [13]:
pokemon = pd.read_csv('pokemon.csv', index_col='Pokemon').squeeze('columns')

google = pd.read_csv('google_stocks.csv', parse_dates=['Date'], index_col='Date').squeeze('columns')

battles = pd.read_csv('revolutionary_war.csv',parse_dates=['Start Date'],usecols=['State','Start Date'],index_col='Start Date').squeeze('columns')

In [16]:
battles.dropna().sort_values(ascending=False)

Start Date
1783-01-22       Virginia
1781-09-28       Virginia
1779-05-10       Virginia
1781-09-05       Virginia
1781-07-06       Virginia
                 ...
1777-05-17        Florida
1777-09-03       Delaware
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
Name: State, Length: 162, dtype: object

In [17]:
battles.sort_index(ascending=False)

Start Date
1783-01-22         Virginia
1782-12-06              NaN
1782-10-18              NaN
1782-09-13              NaN
1782-09-11         Virginia
                  ...
1774-09-01    Massachusetts
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
Name: State, Length: 232, dtype: object

In [18]:
google.nlargest(3)

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
Name: Close, dtype: float64

In [19]:
google.min()

49.82

In [20]:
battles.value_counts()

State
South Carolina    31
New York          28
New Jersey        24
Virginia          21
Massachusetts     11
Pennsylvania      10
North Carolina     9
Florida            8
Georgia            6
Rhode Island       3
Connecticut        3
Vermont            3
New Hampshire      1
Delaware           1
Indiana            1
Louisiana          1
Ohio               1
Name: count, dtype: int64

In [21]:
battles.nunique()

17

In [22]:
battles.value_counts(normalize=True)

State
South Carolina    0.191358
New York          0.172840
New Jersey        0.148148
Virginia          0.129630
Massachusetts     0.067901
Pennsylvania      0.061728
North Carolina    0.055556
Florida           0.049383
Georgia           0.037037
Rhode Island      0.018519
Connecticut       0.018519
Vermont           0.018519
New Hampshire     0.006173
Delaware          0.006173
Indiana           0.006173
Louisiana         0.006173
Ohio              0.006173
Name: proportion, dtype: float64

In [23]:
(battles.value_counts(normalize=True)*100).round(2)

State
South Carolina    19.14
New York          17.28
New Jersey        14.81
Virginia          12.96
Massachusetts      6.79
Pennsylvania       6.17
North Carolina     5.56
Florida            4.94
Georgia            3.70
Rhode Island       1.85
Connecticut        1.85
Vermont            1.85
New Hampshire      0.62
Delaware           0.62
Indiana            0.62
Louisiana          0.62
Ohio               0.62
Name: proportion, dtype: float64

In [24]:
google

Date
2004-08-19      49.98
2004-08-20      53.95
2004-08-23      54.50
2004-08-24      52.24
2004-08-25      52.80
               ...
2019-10-21    1246.15
2019-10-22    1242.80
2019-10-23    1259.13
2019-10-24    1260.99
2019-10-25    1265.13
Name: Close, Length: 3824, dtype: float64

In [27]:
bins = [0, 200, 400, 600, 1000, 2000]

google.value_counts(bins=bins).sort_index()

Close
(-0.001, 200.0]      595
(200.0, 400.0]      1568
(400.0, 600.0]       575
(600.0, 1000.0]      587
(1000.0, 2000.0]     499
Name: count, dtype: int64

In [28]:
google.value_counts(bins=6).sort_index()

Close
(48.581, 256.113]      1204
(256.113, 462.407]     1104
(462.407, 668.7]        507
(668.7, 874.993]        380
(874.993, 1081.287]     292
(1081.287, 1287.58]     337
Name: count, dtype: int64

In [29]:
google.apply(round)

Date
2004-08-19      50
2004-08-20      54
2004-08-23      54
2004-08-24      52
2004-08-25      53
              ...
2019-10-21    1246
2019-10-22    1243
2019-10-23    1259
2019-10-24    1261
2019-10-25    1265
Name: Close, Length: 3824, dtype: int64