In [6]:
import pandas as pd
import numpy as np

In [7]:
s = pd.Series ([10,20,30] , dtype = np.uint8)

s

0    10
1    20
2    30
dtype: uint8

In [8]:
s = pd.Series ([10,20,30])

s.size

3

In [9]:
s = pd.Series ([10,20,30])

s.is_unique

True

In [10]:
s = pd.Series ([10, 20, 30, 20])

s.is_monotonic_increasing

False

In [11]:
s = pd.Series(range(0,500,1))

s.head(7)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
dtype: int64

In [12]:
s = pd.Series(range(0,500,1))

s.tail(7)

493    493
494    494
495    495
496    496
497    497
498    498
499    499
dtype: int64

In [13]:
s = pd.Series([1, 2, 3, np.nan, 5])

s.count()

4

In [15]:
s = pd.Series([1, 2, 3, np.nan, 5])

s.sum()

11.0

In [17]:
s = pd.Series([1, 2, 3, np.nan, 5])

s.sum(skipna = False)

nan

In [18]:
s = pd.Series([1, 2, 3, np.nan, 5])

s.cumsum()

0     1.0
1     3.0
2     6.0
3     NaN
4    11.0
dtype: float64

In [19]:
s = pd.Series([1, 2, 3, np.nan, 5])

s.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.666667
dtype: float64

In [20]:
s = pd.Series([1, 2, 3, np.nan, 5])

s.mean()

2.75

In [21]:
s = pd.Series([1, 2, 3, np.nan, 5])

s.describe()

count    4.000000
mean     2.750000
std      1.707825
min      1.000000
25%      1.750000
50%      2.500000
75%      3.500000
max      5.000000
dtype: float64

In [22]:
s = pd.Series([1, 2, 3, np.nan, 5])

list(s)

[1.0, 2.0, 3.0, nan, 5.0]